/* 
=======
fonts
=======
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* 
===========
variables
===========
*/
:root {
  /* colors */
  --blue-veryDarkGrayish: hsl(217, 19%, 35%);
  --blue-darkDesaturated: hsl(214, 17%, 51%);
  --blue-grayish: hsl(212, 23%, 69%);
  --blue-lightGrayish: hsl(210, 46%, 95%);
  /* typography */
  --ff-primary: "Manrope", sans-serif;
  --font-size: 0.8125rem;
}
/* 
=========
global
=========
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--blue-lightGrayish);
  font-size: var(--font-size);
  font-family: var(--ff-primary);
}
p {
  margin: 0.3125rem 0;
  color: var(--blue-darkDesaturated);
  font-weight: 500;
  line-height: 1.5em;
}
img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.bold {
  color: var(--blue-veryDarkGrayish);
  font-weight: 700;
  font-size: 1.2em;
}
.icon {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .bold {
    font-size: 1.5em;
  }
}
/* 
==========
article
==========
*/
article {
  margin: auto;
  height: 67vh;
  width: 85vw;
  max-width: 319px;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 4px 8px hsl(214, 17%, 51%);
  inset: 0;
  position: fixed;
  overflow: hidden;
}
/* top image */
.top-image {
  height: 40%;
  background-image: url(./images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* text */
.text {
  margin: 20px auto 5px auto;
  width: 80.5%;
}
.text > p {
  margin: 0.5em 0;
}
@media screen and (min-width: 768px) {
  article {
    height: 35vh;
    width: 45vw;
    max-width: 648px;
    min-width: 648px;
    display: flex;
    overflow: visible;
  }
  .top-image {
    height: auto;
    width: 40%;
    border-radius: 1em 0 0 1em;
  }
  .text {
    padding: 0 2rem;
    width: 70%;
  }
}
/* 
=========
author
=========
*/
.author {
  margin-top: 1em;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.author .bold,
p {
  margin: 0;
  font-size: 13px;
}
.profile {
  width: 65%;
  display: flex;
  justify-content: space-between;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .profile {
    width: 50%;
  }
}
/* 
=========
social
=========
*/
.social-container {
  background-color: var(--blue-lightGrayish);
  height: 25px;
  aspect-ratio: 1 /1;
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social {
  height: 59px;
  width: 85vw;
  padding: 0 1.9rem;
  background-color: var(--blue-veryDarkGrayish);
  position: absolute;
  z-index: -1;
  left: -70vw;
  top: -16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-100%);
  transform-origin: left;
  transition: all 0.5s;
  visibility: collapse;
}
.test {
  width: 70%;
  max-width: 319px;
  display: flex;
}
.share-text {
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--blue-lightGrayish);
  font-size: 1.2em;
}
/* transform */
.trans {
  visibility: visible;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .social {
    padding: 1em 0;
    height: 40px;
    width: 200px;
    justify-content: space-around;
    z-index: 0;
    left: -87px;
    top: -250%;
    border-radius: 1em;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 0.5s;
  }
  .social::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--blue-veryDarkGrayish) transparent transparent
      transparent;
  }
  .test {
    width: 91%;
  }
  /* transform */
  .trans {
    transform: scale(1);
  }
}
/* 
============
attribute
============
*/
.attribution {
  display: block;
  position: absolute;
  top: 80%;
  left: 40%;
}
